In [ ]:
#1. Create a list with integers from 1 to 10.
list = []
for i in range(1,11):
    
    list.append(i)
print(list)

In [13]:
#2. Find the length of a list without using the `len()` function.

list = [5,6,6,7,7,8]
c=0
for i in list:
    c = c+1
print(c)

6

In [20]:
#3. Append an element to the end of a list.

list = [5,6,7,7,8,8,7]
list.append(9)
print(list)

[5, 6, 7, 7, 8, 8, 7, 9]

In [23]:
#4. Insert an element at a specific index in a lis

list = [4,6,67,8]
list.insert(2, 8)
print(list)

[4, 6, 8, 67, 8]

In [26]:
#5. Remove an element from a list by its value.

list = [4,6,67,8]
list.remove(6)
print(list)

[4, 67, 8]

In [28]:
#6. Remove an element from a list by its index

list = [8,9,9,8]
list.pop(1)
print(list)

[8, 9, 8]

In [33]:
#7. Check if an element exists in a list.
def exist(list):
    list = [1,3,5,66]
    x = int(input())
    if x in list:
        return True
    else:
        return False

exist(list)

 8

False

In [37]:
#8. Find the index of the first occurrence of an element in a list.

def find_occurence(list, element):
    list = [12,12,4,6,7]
  
    result = list.index(element)
    print(result)

element = 12
find_occurence(list, element)

0

In [38]:
#9. Count the occurrences of an element in a list.


def find_occurence(list, element):
    list = [12,12,4,6,7]
  
    result = list.count(element)
    print(result)

element = 12
find_occurence(list, element)

2

In [39]:
#reverse the order

list = [1,2,4,3,4]
list.reverse()
print(list)

[4, 3, 4, 2, 1]

In [41]:
#11. Sort a list in ascending order.

list = [2,3,5,6,7,5,3,3]
list.sort()
print(list)

[2, 3, 3, 3, 5, 5, 6, 7]

In [44]:
#12. Sort a list in descending order.


list = [2,3,5,6,7,5,3,3]
list.sort()
list.reverse()
print(list)

[7, 6, 5, 5, 3, 3, 3, 2]

In [45]:
#13. Create a list of even numbers from 1 to 20.

list = []
for x in range(1,21) :
    if x%2 == 0:
        list.append(x)
print(list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [46]:
#14. Create a list of odd numbers from 1 to 20.


list = []
for x in range(1,21) :
    if x%2 != 0:
        list.append(x)
print(list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [1]:
list = [1,3,5,5,6]
s = sum(list)
print(s)

20

In [2]:
#16. Find the maximum value in a list.

list = [1,2,5,7]
m = max(list)
print(m)

7

In [3]:
#find mini

list = [2,4,5]
m = min(list)
print(m)

2

In [9]:
#18. Create a list of squares of numbers from 1 to 10.

list = [x**2 for x in range(1,11) ]
print(list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
#19. Create a list of random numbers.

def list_random(list, n):
    n = len(list)
    for x in range

 7
 8

[7]

In [19]:
import random

# Define the range and size of the list
list_size = 10  # You can change this to the desired size of your list
min_value = 1   # Minimum value for random numbers
max_value = 100 # Maximum value for random numbers

# Generate a list of unique random numbers
random_list = random.sample(range(min_value, max_value + 1), list_size)

print(random_list)

[65, 4, 51, 88, 41, 54, 13, 83, 56, 45]

In [20]:
# Define the size of the list
list_size = 10

# Seed the random number generator (optional)
seed_value = 42
hash_seed = hash(seed_value)

# Generate a list of "random" numbers
random_list = [hash(hash_seed + i) % 100 for i in range(list_size)]

print(random_list)

[42, 43, 44, 45, 46, 47, 48, 49, 50, 51]

In [22]:
#20. Remove duplicates from a list.


list = [1,3,55,55,6,6,6,6]
c = set(list)
print(c)

{1, 3, 6, 55}

In [37]:
#21. Find the common elements between two lists.

list_1 = [1,2,3,4,5]
list_2 = [1,2,3,8,7,8]
for x in list_1:
    if x in list_2:
        print(x , end= " ")

1 2 3

In [38]:
#22. Find the difference between two lists.

list_1 = [1, 2, 3, 4, 5]
list_2 = [3, 4, 5, 6, 7]

# Find the difference between list_1 and list_2
difference_1 = [item for item in list_1 if item not in list_2]
difference_2 = [item for item in list_2 if item not in list_1]

print("Elements in list_1 but not in list_2:", difference_1)
print("Elements in list_2 but not in list_1:", difference_2)

Elements in list_1 but not in list_2: [1, 2]
Elements in list_2 but not in list_1: [6, 7]

In [41]:
#merge list

l1 = [1,2,3]
l2 = [4,5,6]
l3 = l1 + l2
print(l3)

l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [43]:
#24. Multiply all elements in a list by 2.
l1 = [1,2,3,4]
l = [x*2 for x in l1]
print(l)

[2, 4, 6, 8]

In [8]:
#25. Filter out all even numbers from a list.

list = [1,2,4,5,6,7,8,9,8,5,2,4,6,7]
for x in list :
    if x%2 == 0:
        
        print(x , end = " ")

2 4 6 8 8 2 4 6

In [16]:
#26. Convert a list of strings to a list of integers.

l = ["1" , "12" ]
z = [int(x) for x in l]
print(z)

[1, 12]

In [18]:
#27. Convert a list of integers to a list of strings.

l = [1,2,4]
string = [str(x) for x in l]
print(string)

['1', '2', '4']

In [ ]:
#28. Flatten a nested list.